In [1]:
import pandas as pd 
import numpy as np

In [2]:
folder_path = 'C:\\Users\\LENOVO\\Desktop\\E-Commerce ETL'

Load

In [3]:
users = pd.read_csv(f'{folder_path}\\user_dataset.csv')
seller = pd.read_csv(f'{folder_path}\\seller_dataset.csv')
products = pd.read_csv(f'{folder_path}\\products_dataset.csv')
feedback = pd.read_csv(f'{folder_path}\\feedback_dataset.csv')
orderItem = pd.read_csv(f'{folder_path}\\order_item_dataset.csv')
order = pd.read_csv(f'{folder_path}\\order_dataset.csv')
payment = pd.read_csv(f'{folder_path}\\payment_dataset.csv')

DataTypes Checking

In [ ]:
seller['seller_zip_code'] = seller['seller_zip_code'].astype(str)
print(seller.dtypes)
print('_______________________')
users['customer_zip_code'] = users['customer_zip_code'].astype(str)
print(users.dtypes)
#LeadingZeros

seller_id          object
seller_zip_code    object
seller_city        object
seller_state       object
dtype: object
_______________________
user_name            object
customer_zip_code    object
customer_city        object
customer_state       object
dtype: object

In [5]:
order['order_date'] = order['order_date'].astype('datetime64[ns]')
order['order_approved_date'] = order['order_approved_date'].astype('datetime64[ns]')
order['pickup_date'] = order['pickup_date'].astype('datetime64[ns]')
order['delivered_date'] = order['delivered_date'].astype('datetime64[ns]')
order['estimated_time_delivery'] = order['estimated_time_delivery'].astype('datetime64[ns]')

In [6]:
feedback['feedback_form_sent_date'] = pd.to_datetime(feedback['feedback_form_sent_date'], errors='coerce')
feedback['feedback_answer_date'] = pd.to_datetime(feedback['feedback_answer_date'],errors='coerce')

In [7]:
products.rename(columns={'product_name_lenght': 'product_name_length', 'product_description_lenght': 'product_description_length'}, inplace=True)

In [8]:
seller['seller_zip_code'] = seller['seller_zip_code'].astype(int)
users['customer_zip_code'] = users['customer_zip_code'].astype(int)

Order Table

In [9]:
def orders_df(order):
    error_order= pd.DataFrame()
    error_order = pd.concat([error_order, order[~order['user_name'].isin(users['user_name'])]])
    error_order = pd.concat([error_order, order[order.duplicated(subset=['order_id'], keep=False)]])
    valid_statuses = ['delivered', 'shipped', 'processing', 'canceled','invoiced','unavailable','approved','created']
    error_order = pd.concat([error_order, order[~order['order_status'].isin(valid_statuses)]])
    error_order = error_order.drop_duplicates()
    clean_order = order[~order.index.isin(error_order.index)]
    return clean_order, error_order

In [10]:
clean_order,error_order = orders_df(order)
error_order

Empty DataFrame
Columns: [order_id, user_name, order_status, order_date, order_approved_date, pickup_date, delivered_date, estimated_time_delivery]
Index: []

In [11]:
def ValorderItems(df):
    error_item = pd.DataFrame()
    error_item = pd.concat([error_item, orderItem[~orderItem['order_id'].isin(order['order_id'])]])
    error_item = pd.concat([error_item, orderItem[orderItem.duplicated(subset=['order_id', 'order_item_id'], keep=False)]])
    error_item = pd.concat([error_item, orderItem[~orderItem['product_id'].isin(products['product_id'])]])
    error_item = pd.concat([error_item, orderItem[~orderItem['seller_id'].isin(seller['seller_id'])]])
    error_item = error_item.drop_duplicates()
    clean_item = orderItem[~orderItem.index.isin(error_item.index)]
    return clean_item,error_item

In [12]:
clean_item,error_item = ValorderItems(orderItem)
clean_item

,order_id,order_item_id,product_id,seller_id,pickup_limit_date,price,shipping_cost
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58900.0,13290.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239900.0,19930.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199000.0,17870.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12990.0,12790.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199900.0,18140.0
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299990.0,43410.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350000.0,36530.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99900.0,16950.0
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55990.0,8720.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43000.0,12790.0

In [13]:
def val_payment(df):
    error_pay = pd.DataFrame()
    error_pay = pd.concat([error_pay,payment[~payment['order_id'].isin(order['order_id'])]])
    error_pay = pd.concat([error_pay, payment[payment.duplicated(subset=['order_id', 'payment_sequential'], keep=False)]])
    validMethod = ['blipay', 'credit_card', 'debit_card', 'voucher','not_defined']
    error_pay = pd.concat([error_pay, payment[~payment['payment_type'].isin(validMethod)]])
    error_pay = pd.concat([error_pay, df[df.isnull().any(axis=1)]])
    clean_pay = payment[~payment.index.isin(error_pay)]
    return clean_pay,error_pay

In [14]:
clean_pay,error_pay = val_payment(payment)
clean_pay

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99330.0
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24390.0
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65710.0
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107780.0
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128450.0
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,blipay,1,363310.0
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96800.0
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47770.0
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369540.0
103885,28bbae6599b09d39ca406b747b6632b1,1,blipay,1,191580.0

In [15]:
products

,product_id,product_category,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,bed_bath_table,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [16]:
def Valproduct(df):
    error_product = pd.DataFrame()
    error_product = pd.concat([error_product, products[products.duplicated(subset=['product_id'], keep=False)]])
    error_product = error_product.drop_duplicates()
    clean_products = products[~products.index.isin(error_product.index)]
    return clean_products,error_product

In [17]:
clean_products,error_product = Valproduct(products)
clean_products = clean_products.drop(columns=['product_name_length', 'product_description_length', 'product_photos_qty'])

In [18]:
seller['seller_city'] = seller['seller_city'].apply(lambda x: x.title())
seller['seller_state'] = seller['seller_state'].apply(lambda x: x.title())

In [19]:
def val_seller(df):
    error = pd.DataFrame()
    error = df[~df['seller_zip_code'].apply(lambda x: isinstance(x, int))]
    clean = df[~df.index.isin(error.index)]
    return error,clean

In [20]:
error_seller,clean_seller = val_seller(seller)

In [21]:
users['customer_city'] = users['customer_city'].apply(lambda x: x.title())
users['customer_state'] = users['customer_state'].apply(lambda x: x.title())
def val_user(df):
    error = pd.DataFrame()
    error = df[~df['customer_zip_code'].apply(lambda x: isinstance(x, int))]
    clean = df[~df.index.isin(error.index)]
    return error,clean

In [22]:
error_users,clean_users = val_user(users)

In [23]:
clean_users

,user_name,customer_zip_code,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,Kabupaten Pekalongan,Jawa Tengah
1,290c77bc529b7ac935b93aa66c333dc3,9790,Kota Bekasi,Jawa Barat
2,060e732b5b29e8181a18229c7b0b2b5e,1151,Kota Tangerang,Banten
3,259dac757896d24d7702b9acbbff3f3c,8775,Kabupaten Bandung Barat,Jawa Barat
4,345ecd01c38d18a9036ed96c73b8d066,13056,Kota Jakarta Timur,Dki Jakarta
...,...,...,...,...
99436,1a29b476fee25c95fbafc67c5ac95cf8,3937,Kota Tangerang,Banten
99437,d52a67c98be1cf6a5c84435bd38d095d,6764,Kota Pontianak,Kalimantan Barat
99438,e9f50caf99f032f0bf3c55141f019d99,60115,Kabupaten Sidoarjo,Jawa Timur
99439,73c2643a0a458b49f58cea58833b192e,92120,Kabupaten Cianjur,Jawa Barat
99440,84732c5050c01db9b23e19ba39899398,6703,Kota Sukabumi,Jawa Barat

In [24]:
def val_feedback(df):
    error = pd.DataFrame()
    error = pd.concat([error_item, feedback[~feedback['order_id'].isin(order['order_id'])]])
    error = feedback[feedback['feedback_score'] > 5]
    clean = df[~df.index.isin(error.index)]
    return error,clean

In [25]:
error_feed,clean_feed = val_feedback(feedback)

In [26]:
error_feed

Empty DataFrame
Columns: [feedback_id, order_id, feedback_score, feedback_form_sent_date, feedback_answer_date]
Index: []

In [27]:
import configparser
config = configparser.ConfigParser()
config.read('config.ini')
db_config = config['postgresql']
username = db_config['username']
password = db_config['password']
host = db_config['host']
port = db_config['port']
database = db_config['database']

In [28]:
import psycopg2
conn = psycopg2.connect(
    dbname=database,
    user=username,
    password=password,
    host=host,
    port=port
)

In [29]:
from sqlalchemy import create_engine,text

connection_string = f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"

engine = create_engine(connection_string)

In [30]:
print(engine)

Engine(postgresql+psycopg2://postgres:***@localhost:5432/E-CommerceDWH)

In [31]:
def load_incrementally(df, table_name, unique_key, engine):
    try:
        existing_data = pd.read_sql(f"SELECT {unique_key} FROM {table_name}", engine)
        
        merged_data = pd.merge(df, existing_data, on=unique_key, how='left', indicator=True)
        new_data = merged_data[merged_data['_merge'] == 'left_only'].drop(columns=['_merge'])
        
        if not new_data.empty:
            new_data.to_sql(table_name, engine, if_exists='append', index=False)
            print(f"Inserted {len(new_data)} new rows into '{table_name}'.")
        else:
            print(f"No new rows to insert into '{table_name}'.")
    except Exception as e:
        print(f"Error loading data into '{table_name}': {e}")

In [32]:
load_incrementally(clean_users, 'dim_customers', 'user_name', engine)

No new rows to insert into 'dim_customers'.

In [33]:
load_incrementally(clean_seller, 'dim_sellers', 'seller_id', engine)
load_incrementally(clean_feed, 'dim_feedback', 'feedback_id', engine)
load_incrementally(clean_pay, 'dim_payments', 'order_id', engine)

No new rows to insert into 'dim_sellers'.
No new rows to insert into 'dim_feedback'.
No new rows to insert into 'dim_payments'.

In [34]:
load_incrementally(clean_products, 'dim_products', 'product_id', engine)

No new rows to insert into 'dim_products'.

In [35]:
clean_FactOrder = pd.merge(
    clean_order, 
    clean_item, 
    on="order_id", 
    how="inner"
)[[
    "order_id", 
    "price", 
    "shipping_cost", 
    "order_status", 
    "order_date", 
    "order_approved_date", 
    "pickup_date", 
    "delivered_date", 
    "estimated_time_delivery"
]]

In [36]:
merged_df = clean_item.merge(clean_order, on='order_id', how='left')[
    [
        "order_id", 
        "price", 
        "shipping_cost", 
        "order_status", 
        "order_date", 
        "order_approved_date", 
        "pickup_date", 
        "delivered_date", 
        "estimated_time_delivery",
        'user_name',
        'seller_id',
        'product_id'
    ]
]

In [ ]:
dim_customers = pd.read_sql("SELECT customer_key, user_name FROM dim_customers", conn)
dim_sellers = pd.read_sql("SELECT seller_key, seller_id FROM dim_sellers", conn)
dim_products = pd.read_sql("SELECT product_key, product_id FROM dim_products", conn)
dim_payments = pd.read_sql("SELECT payment_key, order_id FROM dim_payments", conn)
dim_feedback = pd.read_sql("SELECT feedback_key, order_id FROM dim_feedback", conn)
fact_data = merged_df
fact_data = fact_data.merge(dim_customers, on="user_name", how="left")
fact_data = fact_data.merge(dim_sellers, on="seller_id", how="left")
fact_data = fact_data.merge(dim_products, on="product_id", how="left")
fact_data = fact_data.merge(dim_payments, on="order_id", how="left", suffixes=("", "_payment"))
fact_data = fact_data.merge(dim_feedback, on="order_id", how="left", suffixes=("", "_feedback"))
fact_order = fact_data[[
    "order_id", "customer_key", "seller_key", "product_key", 
    "payment_key", "feedback_key", "price", "shipping_cost", "order_status", "order_date", 
    "order_approved_date", "pickup_date", "delivered_date", 
    "estimated_time_delivery"
]]

fact_order.to_sql("fact_order", engine, if_exists='append', index=False)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_3508\2397131706.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dim_customers = pd.read_sql("SELECT customer_key, user_name FROM dim_customers", conn)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_3508\2397131706.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dim_sellers = pd.read_sql("SELECT seller_key, seller_id FROM dim_sellers", conn)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_3508\2397131706.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dim_products = pd.read_sql("SELECT product_key, product_id FROM dim_products", conn)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_3508\2397131706.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dim_payments = pd.read_sql("SELECT payment_key, order_id FROM dim_payments", conn)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_3508\2397131706.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dim_feedback = pd.read_sql("SELECT feedback_key, order_id FROM dim_feedback", conn)

22

In [38]:
clean_FactOrder

,order_id,price,shipping_cost,order_status,order_date,order_approved_date,pickup_date,delivered_date,estimated_time_delivery
0,e481f51cbdc54678b7cc49136f2d6af7,29990.0,8720.0,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,118700.0,22760.0,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,159900.0,19220.0,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,45000.0,27200.0,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,19900.0,8720.0,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...,...
112645,63943bddc261676b46f01ca7ac2f7bd8,174900.0,20100.0,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
112646,83c1379a015df1e13d02aae0204711ab,205990.0,65020.0,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
112647,11c177c8e97725db2631073c19f07b62,179990.0,40590.0,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
112648,11c177c8e97725db2631073c19f07b62,179990.0,40590.0,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
112649,66dea50a8b16d9b4dee7af250b4be1a5,68500.0,18360.0,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03